* {
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    display: flex;

    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 228, 221);

}

.main-container {

    width: 804px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;

    border: 2px solid rgb(194, 43, 43);
    background-color: aliceblue;
    /* gap: 1rem; */

}

.row {
    width: 100px;
    height: 100px;
    /* background-color: white; */
}

.col {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.row:nth-child(odd) .col:nth-child(even) {
    background-color: rgb(15, 17, 15);
}

.row:nth-child(even) .col:nth-child(odd) {
    background-color: rgb(15, 16, 14);
}

/* .row:nth-of-type(odd){
    background-color:black;
   
}  */


/* .col:nth-of-type(even){
    background-color: azure; 
}
.col:nth-of-type(odd){
    background-color: black;
}  */